{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content home" role="main">
	<!-- start: .home -->
	<div class="home">

		<section class="post-content">
			{{content}}
		</section>

		<!-- start: .articles-->
		{{!-- <div class="articles loading" style="padding: 20px;">
			{{#foreach posts columns=3}}
			
				<article class="item opacity0 {{post_class}} {{#if @rowEnd}}ep-last{{/if}}">
					<div class="main-image">
						{{content characters="0"}}
					</div>
					<div class="overlay">
						<p class="tags">
							<span>{{tags}}</span>
						</p>
						<a href="{{url}}" class="readmore"><i class="fa fa-arrows-alt"></i></a>
						<header>
							<h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>
							<time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
						</header>
					</div>
					<div class="clear"></div>
				</article>
				
			{{/foreach}}
			<div class="clear"></div>
		</div> --}}
		<!-- end: .articles -->
		
		<div class="border">
			<div class="decoration"></div>
		</div>
		
		{{!-- {{pagination}} --}}
		
	</div>
	<!-- end: .home -->
</main>
